/* stylesheet.css */
/* Ross Nelson */

.wrapper {
    width: 64em;
    margin: auto;

    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 24em;
    list-style-type: none;
    text-align: center;
    padding-bottom: 0.5em;
    margin-left: -3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    height: 5em;
    width: 5em;
}

nav img:hover {
    transform: scale(1.5);
}

.resumeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resumeContainer iframe {
    height: 55em;
    width: 55em;
    border: 0em;
    margin-top: -8em;

    /* Moves iframe back
       to disable links */
    z-index: -1;
}

.downloadLink {
    text-align: center;
}

.footer {
    padding-top: 0.5em;
    text-align: center;
}
