/* stylesheet.css */
/* Ross Nelson */

.wrapper {
    width: 64em;
    margin: auto;

    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

.resumeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resumeContainer iframe {
    height: 55em;
    width: 55em;
    border: 0em;
    margin-top: -5em;

    /* Moves iframe back
       to disable links */
    z-index: -1;
}

.downloadLink {
    text-align: center;
}

.footer {
    text-align: center;
}
