/* tech/css/stylesheet.css */
/* Ross Nelson */

box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;

html {
    margin: auto;
}

.wrapper {
    width: 64em;
    margin: auto;

    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    z-index: 0;
}

nav ul {
    width: 24em;
    margin-left: -3em;
    list-style-type: none;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.techExternal ul {
    padding-bottom: 0.5em;
}

.techExternal img {
    height: 5em;
    width: 5em;
    margin-left: .5em;
}

.techExternal img:hover {
    transform: scale(1.5);
}

/* Index */
.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -8em;
    margin-left: 2em;
}

.resumeContainer iframe {
    height: 55em;
    width: 55em;
    padding: 0em;
    border: 0em;

    /* Moves iframe back
       to disable links */
    z-index: -1;
}

.resumeContainer .downloadLink {
    width: 8em;
    padding-top: 0.5em;
    text-align: center;
}

\


/* Medium Class */
@media screen and (min-width: 641px) and (max-width: 1007px) {
    /* comes into effect for screens between 641 pixels and 1007 pixels */

}

/* Small Class */
@media screen and (max-width: 640px) {
    /* comes into effect for screens less than or equal to 640 pixels */

    html {
        margin: auto;
        width: 21em;
    }

    .wrapper {
        width: 20em;
        padding-left 1em;
    }

    .techExternal {
        margin-top: -1.5em;
    }

    .techExternal ul {
        width: 20em;
    }

    /* Index */
    .resumeContainer {
        margin-top: -22em;
        margin-right 1.65em;
    }

    .resumeContainer iframe {
        height: 62.75em;
        width: 48em;
        border: 0em;
        transform: scale(0.5);
    }

    .resumeContainer .downloadLink {
        width: 8em;
        margin-top: -16em;
        margin-left: .5em;
    }
}
